<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ebay_shipping_service.name %>
</p>

<%= link_to 'Edit', edit_ebay_shipping_service_path(@ebay_shipping_service) %> |
<%= link_to 'Back', ebay_shipping_services_path %>
