<div id="content">
  <ul>
<% @orders.each do |order| %>
    <li>
    <a href="<%= order_path order %>">
    <%= order.purchased_at %><br>
      <% order.order_line_items.each do |line_item| %>
        (<%= line_item.quantity %>) <%= line_item.item.annotated_name %><br>
      <% end %>
    </a>
    </li>
<% end %>
</ul>
</div>
