
<li class="item">
  <a href="<%= item_path(item) %>" style="display: block; height: 120px">
      <img src="<%= item.image_url(:thumbnail) %>" class="img-thumbnail">
      <b><%= item.annotated_name %></b>
      <br>
      <%= item.description[0..200] << '...' if item.description.size > 200 %>
  </a>
</li>

