<h1>Editing Item</h1>

<%= render 'form' %>

<%= link_to 'Show', @item %> |
<% if @is_admin %>
<%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Item list', items_path %>
