<div class="container">
    <ul class="list-group" id="items" style="list-style: none">
        <% @items.each do |item| %>
            <%= render item %>
        <% end %>
    </ul>
</div>
<br>

<div align="center">
<%= will_paginate @items %>
</div>


