


#items  {
  text-align: center;
  margin: 0;
  padding: 0;
}

#items img {
  float: left;
  margin: 0 15px 0 0;
}


.item {
  height: 110px;
  display: block;
  background-color: #eeeeee;
  border: solid;
  text-align: left;
}



#item :hover {
  background-color: #730E15;
}

#item :visited {
  background-color: yellow;
}


#item-with-admin {
  margin: 10px;
  padding: 10px;
  overflow: auto;
  border-style: solid;
  background-color: #eeeeee;
  height: 180px;
  width: 380px;
  text-align: left;
  display: inline-block;
}

.items-list-admin-link {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 40px;
  width: 80px;
  display: inline;
}

#pagination {
  margin: 0;
  padding: 0;
  height: 80px;
  line-height: 1.8em;
  background-color: black;
  color: white;
  font-size: 32px;
  bottom: 0;
}

#item-show-image {
  float: left;
  margin: 0 15px 0 0;
}


#item-show {
  min-height: 400px;
  padding: 30px;
  border-style: solid;
  background-color: #eeeeee;
  overflow: auto;
}

#item-edit {
  min-height: 250px;
  padding: 30px;
  border-style: solid;
  background-color: #eeeeee;
  overflow: auto;
}

