
#search {
  padding: 10px;
  background-color: #eeeeee;
  border: solid;
}

#advanced-search {
  border: solid;
  display: none;
}

#advanced-search-form {
  padding: 10px;
  background-color: #eeeeee;
  color: #222222;
}

.advanced-search-labeled-checkbox {
  white-space: nowrap;
}